In [378]:
import pandas as pd
base = pd.read_csv('../dataset/dataset_train.csv')

In [379]:
base

     negotiation_date  sold_price        product
0          07/01/2014      308.33  Polpa Cítrica
1          08/01/2014      300.67  Polpa Cítrica
2          09/01/2014      295.00  Polpa Cítrica
3          10/01/2014      324.00  Polpa Cítrica
4          11/01/2014      250.71  Polpa Cítrica
...               ...         ...            ...
1632       26/07/2019      324.09  Polpa Cítrica
1633       27/07/2019      320.00  Polpa Cítrica
1634       29/07/2019      305.00  Polpa Cítrica
1635       30/07/2019      350.00  Polpa Cítrica
1636       31/07/2019      315.00  Polpa Cítrica

[1637 rows x 3 columns]

In [380]:
day = []
month = []
year = []
for date in base.negotiation_date.values:
    date = date.split('/')
    day.append(date[0])
    month.append(date[1])
    year.append(date[2])

In [381]:
base['day'] = day
base['month'] = month
base['year'] = year

In [389]:
base['negotiation_date'] = pd.to_datetime(base['negotiation_date'], yearfirst=True).dt.strftime("%Y-%d-%m")

In [390]:
base['product'].unique()

array(['Polpa Cítrica'], dtype=object)

In [391]:
for year in base.year.unique():
    year_all = base[base['year']==year]
    print('YEAR ', year)
    for month in year_all.month.unique():
        print('MONTH', month)
        print(year_all[year_all['month']==month].groupby('day').sum())
        print('NUM OF DAYS: ', len(year_all[year_all['month']==month].groupby('day').sum()))

YEAR  2014
MONTH 1
     sold_price  month
day
7        308.33      1
8        300.67      1
9        295.00      1
10       324.00      1
11       250.71      1
12       250.00      1
15       305.00      1
21       335.00      1
22       338.50      1
23       336.75      1
24       330.00      1
27       320.00      1
28       356.25      1
30       330.00      1
31       314.64      1
NUM OF DAYS:  15
MONTH 2
     sold_price  month
day
1        280.00      2
6        345.00      2
7        315.94      2
8        290.00      2
9        301.80      2
10       307.00      2
11       284.00      2
12       276.43      2
13       401.86      2
14       438.50      2
15       415.00      2
17       421.62      2
18       423.11      2
19       340.00      2
21       403.33      2
22       423.50      2
24       428.75      2
26       415.00      2
NUM OF DAYS:  18
MONTH 3
     sold_price  month
day
1        250.00      3
2        330.00      3
4        545.00      3
6        286.00      3
7        281.00      3
8        305.00      3
9        309.25      3
10       285.00      3
11       268.67      3
12       260.83      3
14       430.00      3
15       523.00      3
21       515.00      3
NUM OF DAYS:  13
MONTH 4
     sold_price  month
day
1        285.00      4
2        335.71      4
4        545.50      4
6        337.00      4
7        323.71      4
9        306.25      4
11       254.60      4
12       260.00      4
17       525.00      4
25       515.00      4
26       515.00      4
28       494.00      4
29       500.00      4
30       495.00      4
NUM OF DAYS:  14
MONTH 5
     sold_price  month
day
1        295.00      5
2        350.67      5
4        551.50      5
6        289.17      5
7        305.20      5
8        304.33      5
9        307.33      5
11       263.60      5
12       251.42      5
13       280.00      5
14       426.25      5
15       307.50      5
16       310.50      5
17       345.00      5
19       350.00      5
21       310.00      5
24       277.00      5
25       330.00      5
26       350.00      5
27       278.50      5
28       322.33      5
29       328.25      5
30       320.00      5
31       315.25      5
NUM OF DAYS:  24
MONTH 6
     sold_price  month
day
1        292.00      6
2        344.25      6
3        453.00      6
6        290.00      6
7        305.00      6
8        317.50      6
9        335.00      6
10       315.00      6
11       255.70      6
12       285.33      6
13       345.00      6
14       306.50      6
15       320.00      6
16       316.67      6
17       336.25      6
18       317.75      6
19       311.50      6
20       336.80      6
21       305.00      6
22       317.50      6
23       340.67      6
24       292.40      6
25       309.80      6
26       305.50      6
27       326.58      6
28       307.17      6
29       305.00      6
30       303.25      6
NUM OF DAYS:  28
MONTH 7
     sold_price  month
day
1        305.67      7
2        358.50      7
3        455.33      7
4        543.00      7
6        302.80      7
7        299.50      7
8        340.00      7
9        320.00      7
10       304.50      7
11       245.50      7
12       255.00      7
13       304.00      7
14       305.00      7
15       306.75      7
16       302.60      7
17       306.00      7
18       313.00      7
19       297.40      7
21       298.50      7
22       293.00      7
23       311.00      7
24       313.83      7
25       305.50      7
26       321.25      7
27       320.00      7
28       295.67      7
29       298.22      7
30       291.25      7
31       307.12      7
NUM OF DAYS:  29
MONTH 8
     sold_price  month
day
1        280.00      8
3        460.00      8
4        528.33      8
6        327.50      8
8        301.67      8
10       305.00      8
11       256.25      8
12       248.33      8
13       301.67      8
14       314.67      8
15       318.75      8
16       328.33      8
17       305.00      8
19       325.00      8
20       315.00      8
21       317.50      8
22       313.33      8
23       295.00      8
25       306.50      8
26       291.00      8
27       305.00      8
29       301.38      8
30       326.00      8
31       315.00      8
NUM OF DAYS:  24
MONTH 9
     sold_price  month
day
1        292.50      9
4        525.00      9
6        335.00      9
7        320.00      9
8        293.50      9
9        309.56      9
10       287.40      9
12       261.67      9
13       307.50      9
15       299.67      9
16       322.50      9
17       310.67      9
18       310.00      9
19       307.56      9
20       319.83      9
21       297.00      9
22       315.00      9
23       302.50      9
24       310.00      9
25       309.33      9
26       305.20      9
27       305.67      9
29       315.00      9
30       310.25      9
NUM OF DAYS:  24
MONTH 10
     sold_price  month
day
1        245.00     10
2        340.00     10
3        458.00     10
6        280.00     10
7        315.00     10
9        300.00     10
10       309.00     10
11       259.43     10
12       325.00     10
13       302.00     10
14       251.40     10
15       276.25     10
16       263.67     10
17       276.50     10
18       256.00     10
19       255.00     10
20       248.00     10
21       246.40     10
22       277.00     10
23       255.88     10
24       265.56     10
25       270.75     10
26       236.50     10
27       273.33     10
28       292.60     10
29       262.80     10
30       260.33     10
31       265.27     10
NUM OF DAYS:  28
MONTH 11
     sold_price  month
day
1        276.50     11
2        340.00     11
4        475.00     11
6        310.00     11
7        305.00     11
8        300.67     11
9        302.50     11
10       264.25     11
11       265.43     11
12       281.67     11
13       242.25     11
14       252.67     11
15       235.00     11
16       255.50     11
17       241.33     11
18       295.00     11
19       258.00     11
20       257.50     11
21       258.00     11
22       241.50     11
23       270.00     11
25       261.88     11
26       265.57     11
27       259.33     11
28       260.00     11
29       255.00     11
30       286.67     11
NUM OF DAYS:  27
MONTH 12
     sold_price  month
day
1        285.00     12
2        368.00     12
3        470.00     12
4        516.25     12
7        320.00     12
8        308.50     12
9        309.50     12
10       230.00     12
11       245.33     12
12       273.33     12
13       315.00     12
14       278.33     12
15       295.00     12
16       298.33     12
17       311.00     12
18       304.17     12
19       290.00     12
20       310.00     12
21       315.00     12
22       299.00     12
23       294.50     12
24       247.00     12
27       295.00     12
29       237.00     12
NUM OF DAYS:  24
YEAR  2015
MONTH 1
     sold_price  month
day
4        360.00      1
5        375.00      1
7        263.33      1
8        270.00      1
9        250.00      1
10       262.00      1
11       275.33      1
12       280.83      1
13       320.00      1
14       307.57      1
15       317.50      1
16       313.75      1
17       314.44      1
18       315.00      1
19       317.00      1
20       310.71      1
21       321.00      1
22       312.25      1
24       315.00      1
26       310.00      1
27       313.38      1
28       316.07      1
29       366.64      1
30       427.50      1
31       365.00      1
NUM OF DAYS:  25
MONTH 2
     sold_price  month
day
3        380.00      2
4        360.00      2
6        263.43      2
7        260.82      2
9        250.33      2
10       271.83      2
12       280.00      2
13       360.00      2
14       360.00      2
18       369.39      2
24       357.00      2
26       380.00      2
27       377.50      2
28       390.00      2
NUM OF DAYS:  14
MONTH 3
     sold_price  month
day
6        267.60      3
7        258.33      3
8        261.67      3
9        244.00      3
10       262.00      3
12       274.86      3
17       388.25      3
18       365.00      3
19       380.00      3
24       380.00      3
27       357.00      3
28       340.00      3
29       340.00      3
30       375.00      3
31       370.00      3
NUM OF DAYS:  15
MONTH 4
     sold_price  month
day
7        265.00      4
8        254.00      4
9        253.33      4
10       267.50      4
11       270.00      4
12       278.50      4
13       357.60      4
14       356.50      4
15       353.33      4
16       355.00      4
17       362.50      4
18       363.00      4
19       350.00      4
22       360.00      4
23       352.50      4
24       352.50      4
25       355.00      4
27       352.50      4
29       357.50      4
30       363.00      4
NUM OF DAYS:  20
MONTH 5
     sold_price  month
day
2        347.50      5
3        370.00      5
5        350.00      5
6        275.00      5
7        261.10      5
8        267.17      5
9        240.00      5
10       267.50      5
11       260.00      5
12       284.17      5
13       336.32      5
14       314.65      5
15       305.00      5
16       315.00      5
18       295.00      5
19       305.00      5
20       295.44      5
21       280.00      5
22       289.33      5
23       278.33      5
25       291.67      5
26       293.07      5
27       290.50      5
28       290.00      5
29       295.00      5
30       268.75      5
31       275.00      5
NUM OF DAYS:  27
MONTH 6
     sold_price  month
day
1        310.00      6
2        365.00      6
3        373.33      6
6        276.50      6
7        285.00      6
8        245.00      6
10       274.00      6
11       277.50      6
12       281.00      6
13       264.25      6
14       270.00      6
15       265.00      6
16       267.50      6
17       265.00      6
18       266.25      6
19       271.67      6
20       270.00      6
22       263.33      6
23       267.50      6
24       269.00      6
25       263.75      6
26       270.00      6
27       258.33      6
29       270.00      6
30       250.00      6
NUM OF DAYS:  25
MONTH 7
     sold_price  month
day
1        303.80      7
2        352.50      7
3        380.00      7
4        356.50      7
5        328.33      7
7        267.50      7
8        235.91      7
10       270.83      7
11       281.00      7
12       277.73      7
13       262.77      7
14       260.30      7
15       261.00      7
16       259.11      7
17       267.61      7
18       259.33      7
20       268.33      7
21       259.17      7
22       271.00      7
23       275.96      7
24       256.66      7
25       257.00      7
26       272.50      7
27       258.50      7
28       269.91      7
29       269.79      7
30       262.23      7
31       260.03      7
NUM OF DAYS:  28
MONTH 8
     sold_price  month
day
1        295.00      8
4        351.67      8
5        347.50      8
7        267.50      8
8        238.00      8
9        257.50      8
10       272.50      8
12       283.33      8
13       251.67      8
14       249.00      8
15       247.00      8
17       246.67      8
18       234.00      8
19       258.32      8
20       240.00      8
21       230.42      8
24       239.58      8
25       217.67      8
26       220.71      8
27       222.60      8
28       253.87      8
29       248.75      8
30       250.00      8
31       260.00      8
NUM OF DAYS:  24
MONTH 9
     sold_price  month
day
1        307.00      9
2        382.90      9
4        352.67      9
5        336.00      9
6        267.00      9
7        268.33      9
8        237.77      9
9        265.20      9
10       280.00      9
12       286.88      9
13       270.00      9
14       261.10      9
16       254.15      9
17       263.00      9
18       263.33      9
19       267.50      9
21       259.82      9
22       275.00      9
23       262.50      9
24       260.00      9
25       270.00      9
26       275.00      9
27       270.00      9
28       270.00      9
29       268.33      9
30       266.00      9
NUM OF DAYS:  26
MONTH 10
     sold_price  month
day
1        310.22     10
3        375.00     10
4        350.00     10
6        271.00     10
7        261.25     10
8        235.00     10
9        280.00     10
10       267.78     10
11       273.29     10
12       275.00     10
13       275.00     10
14       280.00     10
15       275.05     10
16       278.93     10
17       267.86     10
18       283.75     10
19       272.50     10
20       276.25     10
21       265.71     10
22       275.70     10
23       270.46     10
24       268.62     10
25       280.00     10
26       265.00     10
27       272.50     10
28       277.50     10
29       268.44     10
30       275.29     10
31       277.50     10
NUM OF DAYS:  29
MONTH 11
     sold_price  month
day
2        370.00     11
3        385.00     11
4        364.00     11
5        340.00     11
6        262.50     11
7        262.50     11
8        247.69     11
9        250.00     11
11       276.00     11
12       285.59     11
13       267.50     11
14       282.86     11
15       281.40     11
16       283.66     11
17       281.25     11
18       278.60     11
19       282.14     11
20       279.50     11
21       287.50     11
22       276.67     11
23       272.00     11
24       278.83     11
25       280.48     11
26       272.60     11
27       274.38     11
28       281.22     11
29       280.00     11
NUM OF DAYS:  27
MONTH 12
     sold_price  month
day
1        315.00     12
2        351.43     12
3        400.00     12
5        332.62     12
8        242.45     12
9        251.25     12
11       274.41     12
12       284.38     12
13       278.53     12
14       274.50     12
15       283.75     12
16       276.88     12
17       276.44     12
18       280.71     12
19       287.40     12
20       288.11     12
21       288.33     12
22       291.67     12
23       292.15     12
24       270.00     12

NUM OF DAYS:  20
YEAR  2016
MONTH 1
     sold_price  month
day
2        349.00      1
3        379.26      1
4        426.00      1
6        481.72      1
7        457.88      1
8        470.00      1
9        545.00      1
10       479.29      1
11       650.00      1
12       550.00      1
13       323.33      1
14       341.67      1
15       330.00      1
16       335.00      1
17       295.00      1
18       347.50      1
19       326.47      1
20       308.89      1
21       321.33      1
22       317.20      1
23       321.00      1
24       345.00      1
25       308.33      1
26       322.90      1
27       317.14      1
28       329.09      1
29       333.74      1
30       326.67      1
31       340.00      1
NUM OF DAYS:  29
MONTH 2
     sold_price  month
day
2        323.00      2
3        369.82      2
4        445.00      2
5        502.50      2
6        438.33      2
7        428.22      2
8        451.25      2
9        600.00      2
10       370.00      2
11       520.00      2
12       543.75      2
13       370.83      2
15       365.00      2
16       370.00      2
17       375.00      2
18       310.00      2
19       397.00      2
20       380.00      2
22       370.00      2
24       420.00      2
25       360.00      2
26       380.00      2
NUM OF DAYS:  22
MONTH 3
     sold_price  month
day
2        295.00      3
3        382.25      3
5        484.00      3
6        415.00      3
7        412.00      3
8        503.33      3
9        565.00      3
10       487.83      3
11       572.50      3
12       688.33      3
14       414.00      3
15       425.00      3
16       397.50      3
17       412.00      3
18       416.50      3
19       416.67      3
21       415.00      3
22       425.00      3
23       410.67      3
24       421.00      3
28       448.00      3
29       457.75      3
30       422.50      3
31       420.00      3
NUM OF DAYS:  24
MONTH 4
     sold_price  month
day
1        330.00      4
2        358.75      4
3        393.43      4
4        432.50      4
5        499.29      4
6        405.33      4
7        387.50      4
8        525.00      4
10       592.43      4
11       390.00      4
13       491.25      4
14       502.50      4
15       513.33      4
16       495.00      4
18       486.67      4
19       501.40      4
20       511.67      4
22       507.00      4
25       506.67      4
26       497.50      4
27       510.00      4
28       498.50      4
29       501.67      4
30       488.33      4
NUM OF DAYS:  24
MONTH 5
     sold_price  month
day
1        312.00      5
2        335.71      5
3        415.00      5
4        420.00      5
5        517.50      5
6        420.00      5
7        456.25      5
8        482.00      5
9        520.00      5
10       581.00      5
12       390.00      5
13       500.00      5
14       493.33      5
15       495.00      5
16       490.00      5
17       495.83      5
18       490.00      5
19       480.00      5
20       488.80      5
21       491.25      5
23       505.33      5
24       500.00      5
25       497.14      5
26       495.00      5
28       510.00      5
30       507.50      5
31       489.17      5
NUM OF DAYS:  27
MONTH 6
     sold_price  month
day
1        333.00      6
2        346.25      6
5        450.00      6
6        425.00      6
7        490.00      6
8        461.67      6
9        506.67      6
10       634.17      6
12       690.00      6
13       416.67      6
14       437.55      6
15       420.83      6
16       415.68      6
17       463.62      6
18       442.73      6
19       433.33      6
20       438.40      6
21       457.00      6
22       462.00      6
23       446.43      6
24       433.75      6
25       407.14      6
26       406.00      6
27       450.33      6
28       469.70      6
29       485.11      6
30       454.77      6
NUM OF DAYS:  27
MONTH 7
     sold_price  month
day
1        333.82      7
3        390.43      7
4        452.67      7
5        492.86      7
6        406.00      7
7        436.67      7
8        550.00      7
9        540.00      7
10       549.00      7
11       596.25      7
12       581.68      7
13       497.00      7
14       462.50      7
15       435.00      7
16       485.19      7
18       456.25      7
19       439.17      7
20       458.60      7
21       453.20      7
22       473.82      7
23       463.00      7
25       460.00      7
26       505.00      7
27       486.00      7
28       505.40      7
29       474.00      7
30       523.33      7
NUM OF DAYS:  27
MONTH 8
     sold_price  month
day
1        353.75      8
2        315.00      8
3        415.00      8
4        487.50      8
6        436.50      8
7        443.33      8
8        540.00      8
9        516.25      8
10       638.00      8
11       391.67      8
12       653.75      8
13       470.00      8
15       420.83      8
16       511.84      8
17       456.67      8
18       495.46      8
19       483.33      8
20       460.00      8
21       510.00      8
23       501.67      8
24       523.49      8
25       468.85      8
26       535.00      8
27       552.50      8
28       690.00      8
29       570.00      8
30       506.25      8
31       535.67      8
NUM OF DAYS:  28
MONTH 9
     sold_price  month
day
1        322.50      9
3        421.25      9
5        498.60      9
6        413.33      9
8        482.00      9
9        488.33      9
11       528.00      9
12       681.67      9
13       502.00      9
14       532.50      9
15       559.00      9
16       576.60      9
17       448.00      9
18       498.00      9
19       510.00      9
20       577.60      9
21       616.25      9
22       572.00      9
23       580.71      9
24       467.50      9
25       478.75      9
26       550.00      9
27       592.86      9
28       569.00      9
29       489.22      9
30       617.20      9
NUM OF DAYS:  26
MONTH 10
     sold_price  month
day
1        340.00     10
2        365.00     10
3        415.00     10
5        499.11     10
6        458.50     10
8        482.92     10
9        476.67     10
10       628.33     10
11       537.19     10
13       582.50     10
14       592.50     10
15       566.00     10
18       559.00     10
19       547.00     10
20       677.85     10
21       546.48     10
22       710.00     10
24       675.00     10
25       517.50     10
26       455.00     10
27       636.25     10
28       587.86     10
29       526.25     10
31       462.50     10
NUM OF DAYS:  24
MONTH 11
     sold_price  month
day
1        315.00     11
2        351.25     11
3        422.00     11
5        496.52     11
6        452.92     11
7        431.00     11
8        518.67     11
10       536.67     11
11       537.00     11
12       285.00     11
13       522.50     11
14       512.50     11
15       450.00     11
16       555.00     11
17       609.29     11
18       557.50     11
19       608.12     11
21       678.00     11
22       637.53     11
23       593.33     11
24       577.50     11
25       551.67     11
26       619.00     11
27       370.00     11
28       680.00     11
29       690.00     11
30       495.00     11
NUM OF DAYS:  27
MONTH 12
     sold_price  month
day
1        343.60     12
2        386.00     12
3        410.00     12
4        505.00     12
5        505.62     12
6        463.33     12
7        445.83     12
8        498.22     12
9        555.00     12
11       473.33     12
12       655.00     12
13       380.00     12
14       546.67     12
15       722.00     12
16       690.71     12
17       380.00     12
19       380.00     12
20       740.00     12
21       683.33     12
22       612.50     12
23       695.00     12
27       583.33     12
28       741.67     12
29       730.00     12
30       555.00     12
NUM OF DAYS:  25
YEAR  2017
MONTH 1
     sold_price  month
day
2        502.50      1
5        490.00      1
6        294.85      1
7        243.75      1
8        171.00      1
9        184.00      1
10       155.00      1
11       239.88      1
12       258.87      1
13       626.67      1
14       380.00      1
16       730.00      1
17       736.67      1
18       745.00      1
19       615.00      1
20       756.67      1
21       735.00      1
23       625.00      1
24       742.00      1
25       750.00      1
26       724.00      1
30       735.00      1
31       745.00      1
NUM OF DAYS:  23
MONTH 2
     sold_price  month
day
1        665.00      2
3        740.00      2
5        520.00      2
6        269.17      2
7        210.00      2
8        171.50      2
9        187.14      2
10       190.25      2
11       240.47      2
12       271.54      2
13       765.00      2
14       707.50      2
15       765.00      2
16       770.00      2
17       747.50      2
20       687.71      2
21       752.50      2
22       789.00      2
23       732.50      2
24       719.00      2
25       740.00      2
NUM OF DAYS:  21
MONTH 3
     sold_price  month
day
1        735.00      3
3        725.00      3
4        656.50      3
5        395.00      3
6        277.80      3
7        234.71      3
8        182.27      3
9        201.67      3
10       193.29      3
11       238.58      3
12       257.50      3
14       705.00      3
15       690.00      3
16       685.00      3
17       680.00      3
20       690.00      3
21       660.00      3
22       677.50      3
23       537.50      3
24       707.00      3
27       678.50      3
28       630.00      3
29       532.50      3
30       675.00      3
31       493.12      3
NUM OF DAYS:  25
MONTH 4
     sold_price  month
day
1        740.00      4
3        621.00      4
4        630.00      4
7        234.78      4
8        208.58      4
9        193.75      4
10       208.16      4
11       236.36      4
12       275.00      4
13       690.00      4
18       620.00      4
19       635.00      4
22       550.00      4
24       545.00      4
27       513.00      4
28       507.50      4
29       545.00      4
NUM OF DAYS:  17
MONTH 5
     sold_price  month
day
1        730.00      5
4        633.33      5
5        450.00      5
6        295.09      5
7        217.22      5
8        202.50      5
9        195.33      5
10       190.38      5
11       215.00      5
12       268.08      5
13       404.67      5
14       415.00      5
15       377.50      5
16       368.33      5
17       321.25      5
18       375.83      5
19       325.00      5
20       320.00      5
23       337.00      5
24       312.00      5
25       311.40      5
26       317.14      5
27       290.50      5
29       313.75      5
30       296.50      5
31       292.14      5
NUM OF DAYS:  26
MONTH 6
     sold_price  month
day
1        651.25      6
3        687.50      6
4        612.50      6
6        298.33      6
7        219.09      6
8        175.00      6
9        200.00      6
10       197.20      6
11       246.67      6
12       257.50      6
13       303.00      6
14       298.33      6
15       275.00      6
16       247.86      6
17       264.17      6
18       315.00      6
20       282.50      6
21       286.44      6
22       249.29      6
23       247.45      6
24       233.80      6
25       212.50      6
26       237.50      6
27       253.45      6
28       251.50      6
29       245.00      6
30       243.12      6
NUM OF DAYS:  27
MONTH 7
     sold_price  month
day
1        700.00      7
2        745.00      7
3        370.00      7
4        592.50      7
6        284.75      7
7        241.06      7
8        185.00      7
9        179.29      7
10       196.86      7
11       245.36      7
12       266.67      7
13       173.85      7
14       181.93      7
15       182.00      7
16       170.00      7
17       160.00      7
18       180.36      7
19       204.42      7
20       188.12      7
21       172.78      7
22       181.43      7
23       210.00      7
24       178.75      7
25       193.67      7
26       182.22      7
27       172.92      7
28       180.62      7
29       186.32      7
30       166.82      7
31       205.91      7
NUM OF DAYS:  30
MONTH 8
     sold_price  month
day
2        385.00      8
3        370.00      8
5        450.00      8
6        288.01      8
7        191.88      8
8        191.25      8
9        188.71      8
10       167.50      8
11       248.50      8
12       265.83      8
13       200.00      8
14       196.67      8
15       199.17      8
16       201.60      8
17       189.58      8
18       218.20      8
19       198.33      8
20       190.00      8
21       205.00      8
22       189.67      8
23       235.00      8
24       176.94      8
25       179.44      8
26       185.00      8
27       188.33      8
28       200.62      8
29       206.77      8
30       181.50      8

31       198.31      8
NUM OF DAYS:  29
MONTH 9
     sold_price  month
day
1        736.67      9
2        845.00      9
3        567.50      9
5        422.50      9
6        286.00      9
7        145.00      9
8        187.08      9
9        185.38      9
10       194.62      9
11       229.41      9
12       271.11      9
13       181.69      9
14       171.19      9
15       183.25      9
16       172.08      9
17       186.36      9
18       165.71      9
19       172.00      9
20       176.25      9
21       191.18      9
22       173.33      9
23       179.40      9
25       172.00      9
26       173.31      9
27       186.86      9
28       171.69      9
29       195.87      9
30       167.35      9
NUM OF DAYS:  28
MONTH 10
     sold_price  month
day
1        710.00     10
2        385.00     10
3        701.67     10
4        605.00     10
5        436.25     10
6        257.25     10
7        162.50     10
8        171.88     10
9        145.00     10
10       229.33     10
11       256.38     10
12       265.00     10
13       227.50     10
14       214.55     10
15       205.00     10
16       221.82     10
17       226.06     10
18       243.12     10
19       213.18     10
20       233.07     10
21       229.24     10
22       221.67     10
23       252.50     10
24       224.09     10
25       243.24     10
26       230.88     10
27       248.73     10
28       234.79     10
29       236.88     10
30       211.43     10
31       226.07     10
NUM OF DAYS:  31
MONTH 11
     sold_price  month
day
1        552.50     11
2        395.00     11
3        680.00     11
4        595.00     11
5        391.68     11
7        180.00     11
8        199.00     11
9        198.12     11
10       213.69     11
11       243.38     11
12       265.00     11
13       253.89     11
14       254.85     11
15       250.00     11
16       245.00     11
17       256.92     11
18       261.36     11
19       277.50     11
20       225.56     11
21       253.93     11
22       225.55     11
23       264.33     11
24       247.06     11
25       246.67     11
26       225.83     11
27       259.38     11
28       262.31     11
29       256.25     11
30       267.14     11
NUM OF DAYS:  29
MONTH 12
     sold_price  month
day
1        730.00     12
4        595.00     12
5        432.00     12
6        277.50     12
7        185.00     12
8        182.92     12
9        189.92     12
10       221.19     12
11       289.00     12
12       279.00     12
13       268.42     12
14       260.45     12
15       297.78     12
16       264.80     12
17       261.67     12
18       266.25     12
19       261.88     12
20       267.50     12
21       260.33     12
22       263.94     12
23       266.67     12
26       254.17     12
27       276.43     12
28       269.09     12
29       262.27     12
30       272.31     12
31       245.00     12
NUM OF DAYS:  27
YEAR  2018
MONTH 1
     sold_price  month
day
2        265.50      1
3        315.00      1
6        428.00      1
7        426.25      1
8        408.12      1
9        424.00      1
10       526.25      1
11       519.44      1
12       447.14      1
13       266.25      1
14       258.30      1
15       272.31      1
16       272.89      1
17       270.00      1
18       273.36      1
19       265.29      1
20       281.88      1
21       265.00      1
22       278.75      1
23       277.33      1
24       276.43      1
25       270.77      1
26       268.57      1
27       275.00      1
29       293.33      1
30       280.00      1
31       281.00      1
NUM OF DAYS:  27
MONTH 2
     sold_price  month
day
1        272.50      2
2        268.82      2
3        313.33      2
4        455.00      2
5        463.33      2
6        425.00      2
7        449.17      2
8        417.63      2
10       498.00      2
11       470.00      2
12       450.00      2
14       280.00      2
15       284.44      2
16       309.38      2
17       280.00      2
19       292.86      2
20       283.75      2
21       295.00      2
22       303.33      2
23       280.00      2
26       280.00      2
27       305.00      2
28       315.00      2
NUM OF DAYS:  23
MONTH 3
     sold_price  month
day
1        260.83      3
2        261.67      3
3        345.00      3
4        407.50      3
5        462.50      3
6        470.00      3
7        438.12      3
8        420.68      3
9        430.00      3
10       428.00      3
11       541.17      3
12       477.86      3
13       364.17      3
14       275.00      3
15       405.83      3
16       394.00      3
19       455.00      3
20       400.00      3
21       418.00      3
22       462.50      3
23       520.00      3
24       310.00      3
26       465.00      3
27       411.25      3
28       439.29      3
29       423.12      3
NUM OF DAYS:  26
MONTH 4
     sold_price  month
day
1        282.69      4
4        403.89      4
5        424.38      4
6        444.00      4
7        443.89      4
8        407.61      4
9        432.50      4
10       458.75      4
12       459.38      4
13       402.50      4
14       450.00      4
16       466.25      4
17       415.71      4
18       462.50      4
19       421.60      4
20       410.89      4
23       468.33      4
24       397.00      4
25       460.00      4
26       345.00      4
27       459.50      4
28       463.33      4
NUM OF DAYS:  22
MONTH 5
     sold_price  month
day
1        275.56      5
2        275.71      5
3        375.00      5
4        365.00      5
5        430.00      5
6        411.67      5
7        448.12      5
9        457.00      5
10       492.00      5
11       560.00      5
12       473.08      5
15       431.67      5
16       460.00      5
17       410.00      5
18       423.75      5
19       426.67      5
22       418.00      5
23       421.67      5
NUM OF DAYS:  18
MONTH 6
     sold_price  month
day
1        271.67      6
2        266.94      6
3        315.00      6
4        457.14      6
6        420.00      6
7        450.45      6
8        425.00      6
9        432.50      6
10       475.00      6
11       536.33      6
12       465.56      6
13       441.79      6
14       437.14      6
15       446.88      6
16       429.69      6
17       436.67      6
18       434.38      6
19       455.83      6
20       459.83      6
21       457.78      6
22       449.75      6
23       448.04      6
25       455.38      6
26       437.69      6
27       459.29      6
28       435.00      6
29       439.80      6
30       437.19      6
NUM OF DAYS:  28
MONTH 7
     sold_price  month
day
1        270.00      7
2        265.38      7
3        349.29      7
4        450.00      7
6        445.83      7
7        425.91      7
8        439.80      7
9        465.00      7
10       495.00      7
11       417.00      7
12       473.00      7
13       434.72      7
14       425.00      7
15       530.00      7
16       408.75      7
17       419.67      7
18       421.43      7
19       422.65      7
20       416.00      7
21       419.00      7
22       380.00      7
23       425.00      7
24       418.33      7
25       412.50      7
26       406.83      7
27       420.20      7
28       418.12      7
29       407.50      7
30       414.50      7
31       416.06      7
NUM OF DAYS:  30
MONTH 8
     sold_price  month
day
1        270.00      8
2        271.25      8
3        313.33      8
5        426.67      8
6        432.50      8
8        425.00      8
9        452.50      8
10       516.67      8
11       482.43      8
12       456.11      8
13       450.00      8
14       425.91      8
15       432.15      8
16       450.62      8
17       416.56      8
18       420.00      8
19       440.00      8
20       426.25      8
21       425.00      8
22       439.44      8
23       436.11      8
24       435.00      8
25       426.67      8
26       450.00      8
27       410.00      8
28       433.12      8
29       435.00      8
30       433.33      8
31       440.00      8
NUM OF DAYS:  29
MONTH 9
     sold_price  month
day
1        266.79      9
2        284.80      9
3        280.00      9
4        472.61      9
5        426.67      9
6        428.33      9
7        446.67      9
8        416.20      9
9        470.00      9
10       561.67      9
11       437.31      9
12       450.00      9
13       453.44      9
14       458.75      9
15       440.00      9
16       470.00      9
18       430.00      9
19       466.67      9
20       468.89      9
21       449.17      9
22       463.89      9
23       440.00      9
24       495.00      9
25       482.50      9
26       468.75      9
27       495.00      9
28       447.73      9

29       466.43      9
NUM OF DAYS:  28
MONTH 10
     sold_price  month
day
1        275.62     10
2        286.00     10
3        363.33     10
4        467.00     10
5        428.33     10
6        416.25     10
7        444.38     10
8        425.00     10
9        451.67     10
10       499.25     10
11       452.50     10
12       455.00     10
15       540.00     10
16       410.00     10
17       461.71     10
18       503.75     10
19       559.25     10
20       481.67     10
22       540.00     10
23       450.00     10
24       455.00     10
25       520.00     10
26       490.29     10
27       450.00     10
28       430.00     10
29       507.27     10
30       525.00     10
31       525.31     10
NUM OF DAYS:  28
MONTH 11
     sold_price  month
day
1        266.62     11
4        406.67     11
5        418.75     11
6        444.17     11
7        440.00     11
8        430.83     11
9        448.75     11
10       452.50     11
11       476.67     11
12       465.00     11
13       507.50     11
14       482.50     11
15       464.17     11
16       414.29     11
17       415.00     11
18       501.67     11
20       515.00     11
21       530.00     11
22       486.50     11
23       473.57     11
24       529.17     11
26       440.00     11
27       435.00     11
28       474.50     11
29       472.50     11
30       488.93     11
NUM OF DAYS:  26
MONTH 12
     sold_price  month
day
1        265.12     12
2        280.00     12
3        386.00     12
4        466.25     12
6        426.25     12
7        427.92     12
9        444.58     12
11       443.33     12
12       465.45     12
13       461.25     12
14       449.86     12
15       449.00     12
16       474.57     12
17       495.00     12
18       478.67     12
19       483.33     12
20       466.82     12
21       450.83     12
22       462.50     12
26       462.50     12
27       464.67     12
28       456.79     12
29       463.33     12
NUM OF DAYS:  23
YEAR  2019
MONTH 1
     sold_price  month
day
2        554.17      1
3        590.00      1
4        620.00      1
6        339.50      1
7        328.33      1
8        325.50      1
9        329.23      1
14       442.00      1
15       494.17      1
16       469.38      1
17       513.29      1
18       491.60      1
19       507.67      1
21       525.00      1
22       475.00      1
23       514.38      1
24       532.22      1
25       537.50      1
26       500.00      1
28       520.00      1
29       559.00      1
30       532.80      1
31       552.50      1
NUM OF DAYS:  23
MONTH 2
     sold_price  month
day
1        483.75      2
2        548.33      2
3        618.33      2
4        605.00      2
5        470.00      2
7        317.86      2
8        330.50      2
9        377.50      2
13       565.00      2
14       558.33      2
15       555.00      2
16       560.00      2
19       550.00      2
20       550.00      2
21       560.00      2
22       530.00      2
23       550.00      2
25       620.00      2
26       613.75      2
28       620.00      2
NUM OF DAYS:  20
MONTH 3
     sold_price  month
day
1        466.50      3
4        612.00      3
5        430.00      3
6        320.00      3
7        337.67      3
8        332.80      3
9        381.82      3
13       600.00      3
14       620.00      3
15       613.33      3
19       591.25      3
20       590.00      3
21       612.86      3
22       592.50      3
25       620.00      3
26       600.00      3
27       618.00      3
28       609.38      3
29       620.00      3
30       609.50      3
NUM OF DAYS:  20
MONTH 4
     sold_price  month
day
1        463.00      4
3        600.00      4
4        613.00      4
5        456.34      4
6        316.67      4
7        325.31      4
8        318.75      4
9        331.43      4
13       550.00      4
16       583.33      4
17       560.00      4
18       568.00      4
22       565.00      4
23       577.50      4
24       570.00      4
25       560.00      4
26       580.00      4
29       527.50      4
30       487.50      4
NUM OF DAYS:  19
MONTH 5
     sold_price  month
day
1        475.00      5
2        573.33      5
4        627.50      5
5        480.00      5
6        314.17      5
7        348.93      5
8        329.29      5
9        341.11      5
14       437.78      5
15       428.12      5
16       423.18      5
17       427.00      5
18       415.00      5
20       413.33      5
21       417.65      5
22       421.80      5
23       401.07      5
24       395.91      5
25       380.00      5
27       372.00      5
28       385.00      5
29       360.00      5
30       353.33      5
31       331.42      5
NUM OF DAYS:  24
MONTH 6
     sold_price  month
day
1        465.00      6
2        543.70      6
4        606.67      6
5        450.00      6
6        325.00      6
7        323.67      6
8        350.00      6
9        315.00      6
13       312.50      6
14       319.00      6
15       308.33      6
16       310.00      6
17       316.67      6
18       315.50      6
19       326.05      6
20       312.60      6
21       323.33      6
22       317.86      6
23       325.00      6
24       315.00      6
25       336.67      6
26       314.38      6
27       316.88      6
28       325.00      6
29       340.00      6
30       316.67      6
NUM OF DAYS:  26
MONTH 7
     sold_price  month
day
1        475.00      7
2        508.50      7
3        612.50      7
5        490.00      7
6        310.94      7
7        314.00      7
8        325.00      7
9        326.25      7
13       317.31      7
14       295.00      7
15       305.83      7
16       309.44      7
17       318.95      7
18       310.94      7
19       318.33      7
20       313.24      7
21       303.33      7
22       306.67      7
23       328.57      7
24       316.67      7
25       321.67      7
26       324.09      7
27       320.00      7
29       305.00      7
30       350.00      7
31       315.00      7
NUM OF DAYS:  26

In [392]:
base.dtypes

negotiation_date     object
sold_price          float64
product              object
day                   int64
month                 int64
year                 object
dtype: object

In [393]:
base = base.astype({'day': 'int64', 'month':'int64'})

In [394]:
base.dtypes

negotiation_date     object
sold_price          float64
product              object
day                   int64
month                 int64
year                 object
dtype: object

In [395]:
base

     negotiation_date  sold_price        product  day  month  year
0          2014-01-07      308.33  Polpa Cítrica    7      1  2014
1          2014-01-08      300.67  Polpa Cítrica    8      1  2014
2          2014-01-09      295.00  Polpa Cítrica    9      1  2014
3          2014-01-10      324.00  Polpa Cítrica   10      1  2014
4          2014-01-11      250.71  Polpa Cítrica   11      1  2014
...               ...         ...            ...  ...    ...   ...
1632       2019-26-07      324.09  Polpa Cítrica   26      7  2019
1633       2019-27-07      320.00  Polpa Cítrica   27      7  2019
1634       2019-29-07      305.00  Polpa Cítrica   29      7  2019
1635       2019-30-07      350.00  Polpa Cítrica   30      7  2019
1636       2019-31-07      315.00  Polpa Cítrica   31      7  2019

[1637 rows x 6 columns]

In [396]:
# for year in base.year.unique():
#     year_all = base[base['year']==year]
#     for month in year_all.month.unique():
#         month_all = year_all[year_all['month']==month]
#         days = month_all.day.values
#         for day in range(1, 32):
#             if day not in days:
#                 if month != 2:
#                     if month in trinta_dias:
#                         if day < 31:
#                             new_row = {'negotiation_date': year + '-' + str(month) + '-' + str(day), 'sold_price': 0.0, 'product': None, 'day': day, 'month': month, 'year': year}
#                             base = base.append(new_row, ignore_index=True)
#                     else:
#                         new_row = {'negotiation_date': year + '-' + str(month) + '-' + str(day), 'sold_price': 0.0, 'product': None, 'day': day, 'month': month, 'year': year}
#                         base = base.append(new_row, ignore_index=True)
#                 elif day <= 28:
#                     new_row = {'negotiation_date': year + '-' + str(month) + '-' + str(day), 'sold_price': 0.0, 'product': None, 'day': day, 'month': month, 'year': year}
#                     base = base.append(new_row, ignore_index=True)

In [397]:
for year in base.year.unique():
    year_all = base[base['year']==year]
    for month in year_all.month.unique():
        month_all = year_all[year_all['month']==month]
        days = month_all.day.values
        for day in range(1, 31):
            if day not in days:
                new_row = {'negotiation_date': year + '-' + str(month).zfill(2) + '-' + str(day).zfill(2), 'sold_price': 0.0, 'product': None, 'day': day, 'month': month, 'year': year}
                base = base.append(new_row, ignore_index=True)

In [398]:
base

     negotiation_date  sold_price        product  day  month  year
0          2014-01-07      308.33  Polpa Cítrica    7      1  2014
1          2014-01-08      300.67  Polpa Cítrica    8      1  2014
2          2014-01-09      295.00  Polpa Cítrica    9      1  2014
3          2014-01-10      324.00  Polpa Cítrica   10      1  2014
4          2014-01-11      250.71  Polpa Cítrica   11      1  2014
...               ...         ...            ...  ...    ...   ...
2035       2019-07-04        0.00           None    4      7  2019
2036       2019-07-10        0.00           None   10      7  2019
2037       2019-07-11        0.00           None   11      7  2019
2038       2019-07-12        0.00           None   12      7  2019
2039       2019-07-28        0.00           None   28      7  2019

[2040 rows x 6 columns]

In [399]:
year = base.groupby('year').sum()
year

      sold_price   day  month
year
2014    85427.67  5735   2371
2015    81838.50  5766   2374
2016   148096.81  5735   2367
2017   107755.78  5797   2386
2018   128315.73  5704   2366
2019    70192.16  3348    853

In [400]:
base.groupby('month').mean()

       sold_price        day
month
1      299.450645  16.000000
2      280.425056  15.500000
3      299.244973  15.754098
4      280.460611  15.500000
5      295.507405  15.918919
6      318.399889  15.500000
7      318.731568  15.918919
8      300.065871  16.000000
9      318.744800  15.500000
10     324.505419  16.000000
11     331.201467  15.500000
12     297.754305  15.602649

In [401]:
base.groupby('day').mean()

     sold_price     month
day
1    308.469104  6.238806
2    254.821194  6.238806
3    307.640000  6.238806
4    341.017164  6.238806
5    262.684328  6.238806
6    300.723731  6.238806
7    303.129254  6.238806
8    306.227612  6.238806
9    310.595075  6.238806
10   281.856269  6.238806
11   276.087463  6.238806
12   314.315522  6.238806
13   318.210746  6.238806
14   320.232239  6.238806
15   339.087612  6.238806
16   328.609851  6.238806
17   304.973284  6.238806
18   308.856418  6.238806
19   315.421493  6.238806
20   296.489701  6.238806
21   315.863731  6.238806
22   327.391045  6.238806
23   304.757612  6.238806
24   292.631940  6.238806
25   281.088955  6.238806
26   303.077612  6.238806
27   294.162687  6.238806
28   306.361045  6.238806
29   307.839254  6.238806
30   283.611791  6.238806
31   361.299667  5.900000

In [402]:
base = base.sort_values(by='negotiation_date')

In [403]:
base

     negotiation_date  sold_price        product  day  month  year
1637       2014-01-01        0.00           None    1      1  2014
1638       2014-01-02        0.00           None    2      1  2014
1639       2014-01-03        0.00           None    3      1  2014
1640       2014-01-04        0.00           None    4      1  2014
1641       2014-01-05        0.00           None    5      1  2014
...               ...         ...            ...  ...    ...   ...
1610       2019-30-06      316.67  Polpa Cítrica   30      6  2019
1635       2019-30-07      350.00  Polpa Cítrica   30      7  2019
1501       2019-31-01      552.50  Polpa Cítrica   31      1  2019
1584       2019-31-05      331.42  Polpa Cítrica   31      5  2019
1636       2019-31-07      315.00  Polpa Cítrica   31      7  2019

[2040 rows x 6 columns]

In [404]:
base.to_csv('../dataset/dataset_train_processed.csv', index=False)